<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <!-- Samsung FlipFont packages have no exported component to query. The font library
         filters this visibility to com.monotype.android.font.* and only reads font assets. -->
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <application
        android:name=".PhoneCompanionApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:enableOnBackInvokedCallback="true"
        tools:targetApi="tiramisu"
        android:theme="@style/Theme.WatchRSS"
        android:networkSecurityConfig="@xml/network_security_config"
        android:usesCleartextTraffic="true">
        <meta-data
            android:name="asset_statements"
            android:resource="@string/asset_statements" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/Theme.WatchRSS">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.WatchRSS">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="text/*" />
                <data android:mimeType="application/epub+zip" />
                <data android:mimeType="application/octet-stream" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />
                <data
                    android:mimeType="text/plain"
                    android:scheme="content" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />
                <data
                    android:mimeType="text/*"
                    android:scheme="content" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />
                <data
                    android:mimeType="application/epub+zip"
                    android:scheme="content" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />
                <data
                    android:mimeType="application/octet-stream"
                    android:scheme="content" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />
                <data
                    android:mimeType="text/plain"
                    android:scheme="file" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />
                <data
                    android:mimeType="text/*"
                    android:scheme="file" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />
                <data
                    android:mimeType="application/epub+zip"
                    android:scheme="file" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />
                <data
                    android:mimeType="application/octet-stream"
                    android:scheme="file" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ArticleReaderActivity"
            android:exported="false"
            android:theme="@style/Theme.WatchRSS.Reader" />
        <activity
            android:name=".NotesActivity"
            android:exported="false"
            android:theme="@style/Theme.WatchRSS" />
        <activity
            android:name=".RssActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:theme="@style/Theme.WatchRSS" />
        <activity
            android:name=".GuideActivity"
            android:exported="false"
            android:theme="@style/Theme.WatchRSS" />
        <activity
            android:name=".ListPageActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:theme="@style/Theme.WatchRSS" />
        <activity
            android:name=".PlatformWebViewActivity"
            android:exported="false"
            android:theme="@style/Theme.WatchRSS" />
        <activity
            android:name=".GuideWebViewActivity"
            android:exported="false"
            android:theme="@style/Theme.WatchRSS" />
        <activity
            android:name=".ContactDeveloperActivity"
            android:exported="false"
            android:theme="@style/Theme.WatchRSS" />
        <activity
            android:name=".AboutActivity"
            android:exported="false"
            android:theme="@style/Theme.WatchRSS" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.WatchRSS" />
        <activity
            android:name=".DataManagementActivity"
            android:exported="false"
            android:theme="@style/Theme.WatchRSS" />
        <activity
            android:name=".AccountActivity"
            android:exported="false"
            android:theme="@style/Theme.WatchRSS" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.WatchRSS" />
        <activity
            android:name=".DebugGuidedSessionActivity"
            android:exported="true"
            android:theme="@style/Theme.WatchRSS" />
        <activity
            android:name=".DebugBluetoothSyncActivity"
            android:exported="true"
            android:theme="@style/Theme.WatchRSS" />
        <activity
            android:name=".BleBandwidthTestActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
            android:exported="true"
            android:theme="@style/Theme.WatchRSS" />
    </application>

</manifest>
